/SAM_大模型自动标注工具/SAM_Auto_Label/SAM-Tool/sam_onnx.onnx
/SAM_大模型自动标注工具/SAM_Auto_Label/SAM-Tool/sam_onnx_carpet.onnx
/SAM_大模型自动标注工具/SAM_Auto_Label/segment-anything/sam_onnx_carpet.onnx
/SAM_大模型自动标注工具/SAM_Auto_Label/segment-anything/sam_vit_h_4b8939.pth
/SAM_大模型自动标注工具/SAM_Auto_Label/segment-anything/sam_onnx.onnx


/SAM_大模型自动标注工具/SAM_Auto_Label/segment-anything/assets/
